
*{
    width: fit-content;
}
body {
background-color: rgb(16, 13, 26);
color: white;
height: 100px;
width: fit-content;
align-items: center;
margin: 0px;
padding: 10px;
}
h1{
    font-size: 1.2rem;
}
button, #generatePassword{
    padding: 8px;
    background-color: hsl(249, 33%, 30%);
    color: hsl(249, 21%, 12%);
    font-weight: bolder;
    font-family: "Arial Black";
    box-shadow: 0px 0px 10px 1px hsl(123, 35%, 11%);
}
#generator-container {
border: 1px solid hsl(252, 50%, 75%);
padding: 1rem;
box-shadow: 0px 0px 10px 5px hsl(252, 96%, 73%);
border-radius: 1rem;
min-width: 20vw;
width: 200px;
background-color: hsla(252, 19%, 100%, 0.05);
}
#generator-container > div {
padding: 1rem 0px;
}
#output-container {
justify-content: space-between;
}
#output {
font-size: 1rem;
border: 1px solid black;
margin-right: 0.5rem;
padding: 5px;
}
#length-con {
justify-content: space-between;
}
#password-strength div {
width: 1.2rem;
height: 2rem;
border: 1px solid black;
margin: 0.2rem;
}
#strength {
justify-content: space-between;
}

#divider {
width: 100%;
height: 1rem;
border-bottom: 5px solid hsl(254, 60%, 43%);
}

#foot a {
font-size: 1.5rem;
text-decoration: none;
color: white;
}

#foot a {
padding-left: 1rem;
display: flex;
min-height: 80%;
justify-content: center;
align-items: center;
}
#foot > a {
font-weight: 100;
font-family: cursive;
padding-top: 0.8rem;
}
